{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2>{{user.username}}</h2>
    <p class="ms-3"><b>Name:</b> {{user.first_name}} {{user.last_name}}</p>
    <p class="ms-3"><b>Email:</b> {{user.email}}</p>
    <form>
        <button class="btn btn-danger" formmethod="POST" formaction="/users/{{user.username}}/delete">Delete Account</button>
    </form>

    {% if user.feedback == [] %}
        <span>
            <h3 class="mt-5">Your Feedback:</h3>
            <hr>
            <p><b>No feedback given yet!</b> - <a class="btn btn-primary" href="/users/{{user.username}}/feedback/add">Start adding feedback</a></p>
        </span>
    {% else %}
            <h3 class="mt-5">Your Feedback: 
                <span><a class="btn btn-outline-primary" href="/users/{{user.username}}/feedback/add">Add Feedback</a></span>
            </h3>
        <hr>
        <ul class="list-inline">
            {% for f in user.feedback %}
            <li class="ms-4 px-2 py-1">
                <b>{{f.title}}</b>
                <small class="ms-3">{{f.content}}</small>
                <form>
                    <button class="btn btn-primary" formmethod="GET" formaction="/feedback/{{f.id}}/update">
                        Edit
                    </button>
                    <button class="btn btn-danger" formmethod="POST" formaction="/feedback/{{f.id}}/delete">
                        Delete
                    </button>
                </form>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}